

.container {
    width: 80%;
    margin: auto;
}


.banner-login {
    margin-top: 3%;
    margin-left: 40%;
    height: 550px;
    background-size: cover;
}


.banner-login .container {
    height: 135%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-login {
    color: rgb(0, 0, 0);
    font-weight: bolder;
}


.banner-login .card {
    background-color: #E5E5E5;
    height: 60vh;
    width: 40vw;
    display: flex;
    justify-content: center;
    
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 10px;
}

span {

        display: flex;
        flex-direction: column;
        padding-left: 12px;
       
    
}

p {
    font-family: 'Roboto', sans-serif;
}

.banner-login{
    color: black;
    font-weight: bold;
 
}

.scroll{
    overflow-y: scroll;
}

.card h2{
    text-align: center;
}